pandas
numpy
matplotlib
seaborn
japanize_matplotlib
scikit-learn
scipy
ipython
lack
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
lckr-jupyterlab-variableinspector
jupyterlab_widgets
ipywidgets
import-ipynb
unidic-lite
mecab-python3
